---
layout: page
permalink: /orders/tambah/
---

<!--banner-->
<div class="banner">
	<h2>
		<a href="{{site.url}}/home/">Home</a>
		<i class="fa fa-angle-right"></i>
		<a href="{{site.url}}/orders/">Order</a>
		<i class="fa fa-angle-right"></i>
		<span>Tambah Baru</span>
	</h2>
</div>
<!--//banner-->

<form action="" id="newORder" method="post">
	<div class="col-xs-12 col-lg-5 grid-form">
		<div class="grid-form1">
			<h3 id="forms-example" class="">Order Detail</h3>
			<div class="form-group">
				<label for="nama_customer">Nama Customer</label>
				<input type="text" class="form-control required" id="nama_customer" placeholder="Nama Customer" name="nama_customer">
			</div>
			<div class="col-md-6 form-group1 group-mail" style="padding-left:0">
      				<label class="control-label ">Departure Date</label>
				<input type="date" class="form-control1 ng-invalid ng-invalid-required" ng-model="model.date" required="">
		    	</div>
			<div class="col-md-6 form-group1 group-mail" style="padding-right:0">
      				<label class="control-label ">Arrival Date</label>
				<input type="date" class="form-control1 ng-invalid ng-invalid-required" ng-model="model.date" required="">
		    	</div>
			<div class="clearfix"></div>
			<hr/>
			<div class="form-group col-md-6" style="padding-left:0">
				<label for="rute_dari">Rute Dari</label>
				<input type="text" class="form-control required" id="rute_dari" placeholder="Misal: Jakarta" name="rute_dari">
			</div>
			<div class="form-group col-md-6" style="padding-right:0">
				<label for="rute_tujuan">Rute Tujuan</label>
				<input type="text" class="form-control required" id="rute_tujuan" placeholder="Misal: Semarang" name="rute_tujuan">
			</div>
			<div class="clearfix"></div>
			<div class="form-group col-md-6" style="padding-left:0">
				<label for="pick_upp">Pick Up Point</label>
				<input type="text" class="form-control required" id="pick_upp" placeholder="Misal: Masjid Raya Cinere, Jl. Cinere Raya, Cinere ..." name="pick_upp">
			</div>
			<div class="form-group col-md-6" style="padding-right:0">
				<label for="sb_time">Standby Time</label>
				<input type="text" class="form-control required" id="sb_time" placeholder="Misal: 18:00" name="sb_time">
			</div>
			<div class="clearfix"></div>
			<div class="form-group col-md-6" style="padding-left:0">
				<label for="cp">Contact Person</label>
				<input type="text" class="form-control required" id="cp" placeholder="Contact Person" name="cp">
			</div>
			<div class="form-group col-md-6" style="padding-right:0">
				<label for="cd">Crew Detail</label>
				<input type="text" class="form-control required" id="cd" placeholder="Crew Detail" name="cd">
			</div>
			<div class="clearfix"></div>
			<hr/>
			<div class="form-group col-md-4" style="padding-left:0">
				<label for="fleet_type">Jenis</label>
				<select name="fleet_type" id="fleet_type" class="form-control1 required">
					<option value="">Pilih Jenis</option>
				<option value="Big Bus" id="big_bus">Big Bus</option><option value="Family Car" id="family_car">Family Car</option><option value="Medium Bus" id="medium_bus">Medium Bus</option><option value="Micro Bus" id="micro_bus">Micro Bus</option></select>
				<span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
			</div>
			<div class="form-group col-md-4">
				<label for="fleet_seat">Seat</label>
				<input type="text" class="form-control required" id="fleet_seat" placeholder="Jumlah Seat" name="fleet_seat">
				<span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
			</div>
			<div class="form-group col-md-4" style="padding-right:0">
				<label for="qty_mobil">Qty</label>
				<input type="text" class="form-control required" id="qty_mobil" placeholder="Jumlah Mobil" name="qty_mobil">
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12 form-group1 ">
	      			<label class="control-label">Remark</label>
	      			<textarea placeholder="Remark..." required=""></textarea>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-lg-3 grid-form">
		<div class="grid-form1 facilities">
			<h3 id="forms-activities" class="">Submit ID</h3>
			<div class="form-group">
				<label for="id_no">Order ID</label>
				<input type="text" class="form-control required" id="id_no" placeholder="# 093456" name="id_no" disabled>
			</div>
			<div class="form-group">
				<label for="input_tgl">Tanggal Input</label>
				<input type="text" class="form-control required" id="input_tgl" placeholder="30/10/2017" name="input_tgl" disabled>
			</div>
			<small>Order ID dan Tanggal dihasilkan oleh sistem. Tidak perlu diganti</small>
		</div>
	</div>
	<!--<div class="col-xs-12 col-lg-8 grid-form">
		<div class="grid-form1">
			<h3 id="forms-gambar" class="">Gambar Kendaraan</h3>
			<div class="form-group">
				<label for="fleet_image">Upload Gambar</label>
				<img src="" class="hidden img-responsive img-thumbnail" id="preview">
				<input type="file" id="fleet_image" name="fleet_image" class="required">
			</div>
		</div>
	</div>-->
	<div class="col-xs-12 col-lg-8 grid-form">
		<div class="col-xs-12 content-top-1 quick-btn">
			<input id="saveForm" name="saveForm" type="submit" value="TAMBAH ORDER">
		</div>
	</div>
	<div class="clearfix"></div>
</form>
<!--<script src="{{site.url}}/js/armada.js"></script>-->
