<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Your Name" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <h1><a href="{{ site.url }}">{{ page.title }}</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
    
  <script src="https://www.gstatic.com/firebasejs/4.5.2/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCzyFRMOT1r1JF8mM6tZpaJjMI7Gms9oyk",
      authDomain: "indorentbus-e66dc.firebaseapp.com",
      databaseURL: "https://indorentbus-e66dc.firebaseio.com",
      projectId: "indorentbus-e66dc",
      storageBucket: "indorentbus-e66dc.appspot.com",
      messagingSenderId: "1065904701560"
    };
    firebase.initializeApp(config);
  </script>
  </body>
</html>

