<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IRB Fleet Management</title>
	<script type="application/x-javascript">
		addEventListener("load", function() {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="{{site.url}}/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link href="{{site.url}}/css/style.css" rel='stylesheet' type='text/css' />
	<link href="{{site.url}}/css/font-awesome.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Mainly scripts -->
	<script src="{{site.url}}/js/Chart.js"></script>
	<script src="{{site.url}}/js/jquery.metisMenu.js"></script>
	<script src="{{site.url}}/js/jquery.slimscroll.min.js"></script>
	<!-- Custom and plugin javascript -->
	<link href="{{site.url}}/css/custom.css" rel="stylesheet">
	<script src="{{site.url}}/js/custom.js"></script>
	<script src="{{site.url}}/js/screenfull.js"></script>
	<script>
		$(function() {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);
			if (!screenfull.enabled) {
				return false;
			}
			$('#toggle').click(function() {
				screenfull.toggle($('#container')[0]);
			});
		});
	</script>
	<!--skycons-icons-->
	<script src="{{site.url}}/js/skycons.js"></script>
	<!--//skycons-icons-->
	<!--FIREBASE START HERE update the version number as needed -->
	<script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/4.5.2/firebase-app.js"></script>
	<!-- include only the Firebase features as you need -->
	<script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/4.5.2/firebase-auth.js"></script>
	<script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/4.5.2/firebase-database.js"></script>
	<script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/4.5.2/firebase-messaging.js"></script>
	<script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/4.5.2/firebase-storage.js"></script>
	<!-- initialize the SDK after all desired features are loaded -->
	<script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/init.js"></script>
	<style>
		body {visibility: hidden;}
		#page.content{min-height:calc(100vh - 130px)}
		#auth-log {background: yellow;}
		.quick-btn{overflow: hidden;padding:0}
		.quick-btn a{background: red;color: #fff;padding: 1rem;display: block;width: 100%;text-align: center;text-decoration:none}
	</style>
</head>

<body>	
	<div id="wrapper">
		{% include navigasi.html %}
		
		<!-- START WRAPPER -->
		<div id="page-wrapper" class="gray-bg dashbard-1">
			<div class="content-main">
				{{ content }}
				
				{% include footer.html %}
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- EO WRAPPER -->
	</div>


	<!-- Container where we'll display the user details -->
	<div id="auth-log" class="hide"> Firebase sign-in status: <span id="quickstart-sign-in-status">Unknown</span>
		<div>Firebase auth <code>currentUser</code> object value:</div> <pre><code id="quickstart-account-details">null</code></pre> </div>
	<!-- //status end firebase auth -->

	<!-- scrolling js -->
	<script src="{{ site.url }}/js/jquery.nicescroll.js"></script>
	<script src="{{ site.url }}/js/scripts.js"></script>
	<!-- //scrolling js -->
	
	<!-- pie-chart -->
	<script src="{{ site.url }}/js/pie-chart.js" type="text/javascript"></script>
	<!-- // pie chart -->
	
	<script src="{{ site.url }}/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			initApp();
		});
		document.body.style.visibility = "visible";
	</script>
</body>

</html>
