<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Firebase Hosting</title>

    <!-- update the version number as needed -->
    <script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/4.5.2/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/4.5.2/firebase-auth.js"></script>
    <script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/4.5.2/firebase-database.js"></script>
    <script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/4.5.2/firebase-messaging.js"></script>
    <script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/4.5.2/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="https://indorentbus-e66dc.firebaseapp.com/__/firebase/init.js"></script>
    <style>
      #auth-log{
        background:yellow;
      }
    </style>
  </head>
  <body>
    
  <!-- Container where we'll display the user details -->
  <div id="auth-log">
    Firebase sign-in status: <span id="quickstart-sign-in-status">Unknown</span>
    <div>Firebase auth <code>currentUser</code> object value:</div>
    <pre><code id="quickstart-account-details">null</code></pre>
  </div>
    
    {{ content }}
    
    <script type="text/javascript">
      window.onload = function() {
        initApp();
      };
    </script>
  </body>
</html>
